---
import "@fontsource-variable/inter";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Discover premium web design services tailored for Ibiza's unique style. Specializing in creating visually stunning, responsive websites that capture the essence of the island. Elevate your online presence with expert design tailored to your needs.";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>About me in Ibiza</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
   
    <div class="space-y-24 px-8 py-32">
      <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">About Me</h2>
  
      <p class="max-w-xl text-center font-extrabold text-2xl center"> 
        No matter if you’re wandering through the old streets of Dalt Vila or enjoying the sunset at Cala Conta. I fell in love with Ibiza, and it changed my life. The energy here is different. It’s magical. It’s like every corner of the island whispers creativity and freedom.
        <br><br>
        When I first came to Ibiza, I was just another visitor. But the island grabbed my heart. The beaches, the nightlife, the calm of the countryside. It all blended into something special. Something unique.
        <br><br>
        No matter if you’re wandering through the old streets of Dalt Vila or enjoying the sunset at Cala Conta. I fell in love with Ibiza, and it changed my life. The energy here is different. It’s magical. It’s like every corner of the island whispers creativity and freedom.
        <br><br>
        When I first came to Ibiza, I was just another visitor. But the island grabbed my heart. The beaches, the nightlife, the calm of the countryside. It all blended into something special. Something unique.
        <br><br>
        Working as a freelancer in web design here is a dream. The island inspires me every day. You meet people from all over the world. Everyone is looking for something more. Something beautiful. I started working with clients all over Ibiza, helping them bring their visions to life online.
        <br><br>
        The community is vibrant. Supportive. You feel like you’re part of something bigger. Every project I take on is infused with the spirit of Ibiza. It’s not just work. It’s passion.
        <br><br>
        Being a <a href="/">web designer in Ibiza</a> means freedom. It means working from a beachside café one day and a quiet mountain spot the next. It means having the flexibility to live life fully, while doing what you love. There’s no place like Ibiza. It’s special. And being here, doing what I do, is the best feeling in the world.
            </p>

    </div>
    <Footer />
  </body>
</html>



<style>
  
  .center {
    margin: 0 auto;
  }

  a {
    color: #cd4bf0;
  }

</style>